<p data-sly-test.edit="${wcmmode.edit}" data-emptytext="Configure Description Component" class="cq-placeholder"></p>
<sly data-sly-use.model="com.dropbox.aem.techblog.models.DescriptionModel">
<section class="slice slice-xl bg-secondary wow fadeIn" data-wow-duration="1s" data-wow-delay="1s">
    <div class="container">
      <div class="row pt-3 pb-5">
        <div class="col-5 col-lg-8 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
          <h6 class="font-weight-600 bg-primary text-white p-1 d-inline">${properties.heading}</h6>
        </div>
        <div class="col-7 col-lg-4 text-right">
          <a href="${properties.seeAllLink}" class="text-underline">${properties.seeAllText}</a>
        </div>
      </div>
      <div class="row row-grid justify-content-center pb-5" data-sly-list="${model.descriptionList}">
        <div class="col-lg-4 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
          <p class="lead text-primary font-weight-600 lh-140 m-0">${item.description}</p>
        </div>
      </div>
    </div>
  </section>
  </sly>