<p data-sly-test.edit="${wcmmode.edit}" data-emptytext="Configure Header Component" class="cq-placeholder"></p>
<sly data-sly-use.model="com.dropbox.aem.techblog.models.HeaderModel">
   <header class="main-header header w-100 default-position position-fixed navbar-sticky">
      <div class="bg-transparent navbar bg-primary bg-color position-relative justify-content-between navbar-expand-lg navbar-transparent navbar-light bg-light border-bottom p-0 shadow">
         <div class="container-fluid ">
            <nav class="navbar navbar-horizontal w-100 navbar-expand-lg navbar-dark">
               <a class="navbar-brand" href="#">${properties.companyName}</a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-success" aria-controls="navbar-success" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbar-success">
                  <ul class="navbar-nav ml-lg-auto" data-sly-list="${model.headerItemsList}">
                     <sly data-sly-test="${item.checkbox}">
                        <li class="position-static nav-item dropdown">
                           <a class="nav-link nav-link-icon" href="${item.headingLink}" id="navbar-success_dropdown_1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                           <span class="nav-link-inner--text">${item.heading}</span>
                           </a>
                           <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-success_dropdown_1" data-sly-list.sublist="${item.nestedList}">
                              <a class="" href="${sublist.subHeadingLink}">${sublist.subHeading}</a>
                           </div>
                        </li>
                     </sly>
                     <sly data-sly-test="${item.checkbox!='true'}">
                        <li class="nav-item">
                           <a class="nav-link nav-link-icon" href="${item.headingLink}">
                         
                           <span class="nav-link-inner--text">${item.heading}</span>
                           </a>
                        </li>
                     </sly>
                  </ul>
               </div>
            </nav>
         </div>
      </div>
   </header>
</sly>