<p data-sly-test.edit="${wcmmode.edit}" data-emptytext="Configure More Component" class="cq-placeholder"></p>
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
   data-sly-call="${clientlib.all @ categories='tech-blog.components'}" />

 <section class="slice slice-xl">
    <div class="container">
      <div class="row pb-5">
        <div class="col-lg-12">
          <div class=" text-center">
              <a href="${properties.textLink}" class="text-underline">${properties.text}</a>
          </div>
        </div>
      </div>
    </div>
  </section>