<p data-sly-test.edit="${wcmmode.edit}" data-emptytext="Configure Hero Banner Component" class="cq-placeholder"></p>
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
   data-sly-call="${clientlib.all @ categories='tech-blog.components'}" />

<section class="bg-primary overflow-hidden ">

    <div class="container py-5">
      <div class="row hero_contanier" data-prompt-text="${properties.prompt}">
        <div class="col-lg-6 py-3 fadeInDown wow" data-wow-duration="1s" data-wow-delay="1s">
          <div class="text-center text-lg-left pt-5">
              <h1 class="display-5 h3 font-weight-400 text-white text-capitalize mb-3">${properties.heading}<span
                class="vlight-blue" id="hero_prompt"></span></h1>
          </div>
        </div>
      </div>
  </div>
</section>