<p data-sly-test.edit="${wcmmode.edit}" data-emptytext="Configure Article Component" class="cq-placeholder"></p>
<sly data-sly-use.model="com.dropbox.aem.techblog.models.ArticleModel">
 <section class="slice slice-xl">
    <div class=" container">
      <div class="border-bottom py-3">
        <div class="row">
          <div class="col-5 col-lg-8 fadeInLeft wow" data-wow-duration="1s" data-wow-delay="1s">
            <h6 class="font-weight-600">${properties.heading}</h6>
          </div>
          <div class="col-7 col-lg-4 text-right wow fadeInRight" data-wow-duration="1s" data-wow-delay="1s">
            <a href="#" data-cursor="read-white" data-transition-background="french-vanilla"
              data-transition-foreground="sapphire" data-aos="dropbox-fade-left" tabindex="0"><i class="fas fa-plus"></i></a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul class="list-unstyled mt-3" data-sly-list="${model.articleList}">
              <li class="mt-3 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
                <span class="h6">${item.heading}</span>
                <p class="text-sm mb-0 d-none d-lg-block"><span class="mr-1"></span>${item.date}<a href="${item.typeLink}"
                    class=" text-underline">${item.type}</a></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  </sly>