<p data-sly-test.edit="${wcmmode.edit}" data-emptytext="Configure Footer Component" class="cq-placeholder"></p>
<sly data-sly-use.model="com.dropbox.aem.techblog.models.FooterModel">
   <footer id="footer-main">
      <div class="bg-primary py-6">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="pt-3 pb-6">
                     <p class="lead m-0 text-white font-weight-600">${properties.subscribeText}</p>
                     <div class="form-group">
                        <div class="input-group input-group-merge">
                           <div class="input-group-prepend">
                              <span class="input-group-text"><i class="far fa-user"></i></span>
                           </div>
                           <input type="email" class="form-control" id="input-email" placeholder="${properties.placeholder}">
                        </div>
                     </div>
                     <div class="mt-4">
                        <button type="submit" class="btn btn-sm btn-primary btn-icon rounded-pill">
                        <span class="btn-inner--text">${properties.submitButton}</span>
                        <span class="btn-inner--icon"><i class="far fa-long-arrow-alt-right"></i></span>
                        </button>
                     </div>
                  </div>
               </div>
               <div class="col-lg-12">
                  <div class="row justify-content-between">
                     <div class="col-lg-5">
                        <a href="${properties.companyLink}">
                           <img alt="Image placeholder" src="${properties.companyLogo}" class="img-fluid zoomIn wow" data-wow-duration="1s" data-wow-delay="1s" style="visibility: visible; animation-duration: 1s; animation-delay: 1s; animation-name: zoomIn;">
                           <h2 class="text-white">${properties.company}</h2>
                        </a>
                        <form role="form">
                        </form>
                     </div>
                     <sly data-sly-list=${model.footerItemsList}>
                        <div class="col-lg-3">
                           <ul class="list-unstyled text-small text-white" data-sly-list.subList="${item.linkList}">
                              <li> <a href="${subList.link}" id="linklist" class="text-white font-weight-100" target="_blank"> ${subList.text}</a></li>
                           </ul>
                        </div>
                     </sly>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </footer>
</sly>