<p data-sly-test.edit="${wcmmode.edit}" data-emptytext="Configure Cards Component" class="cq-placeholder"></p>
<sly data-sly-use.model="com.dropbox.aem.techblog.models.ImageCardsModel">
<section class="slice slice-xl">
        <div class=" container">
          <div class="py-3">
            <div class="row">
              <div class="col-12">
                <h6 class="font-weight-600 fadeInDown wow" data-wow-duration="1s" data-wow-delay="0s"">${properties.heading}</h6>
              </div>
            </div>
            <div class="row mt-3" data-sly-list="${model.cardList}">
              <div class="col-lg-4">
                <div class="border-0 shadow-none card bg-transparent">
                  <img alt="Image placeholder" src="${item.image}" class="img-fluid zoomIn wow" data-wow-duration="1s" data-wow-delay="1s">
                  <div class="card-text bg-primary w-100 card-footer position-relative d-flex justify-content-between align-items-center fadeInLeft wow" data-wow-duration="1s" data-wow-delay="0.5s">
                    <p class="lead text-white m-0 lh-140">${item.description}</p>
                  </div>
                  <p class="text-sm mt-2 mb-0 d-none d-lg-block"><span class="mr-1"></span>${item.date} 
                   <a href="${item.typeLink}" class=" text-underline">${item.type}</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </sly>