.main-header{background: #000;}
 .default-position{top: 0px; left: 0px; right:0px; z-index: 99;}
 .main-header.sticky .bg-color{background: #f4b71f!important; z-index: 11;}
 .main-header.sticky .dropdown-menu {  transition: 2s ease-in-out !important; font-size: 0.875rem; border:none;}
 .main-header .navbar-sticky .navbar-nav .nav-link{color: #f4b71f;}
 .card-text {margin-top: -70px;  margin-left: -14px;  padding: 10px;}
 .main-header .dropdown:hover>.dropdown-menu { display: block;width: 100%; transform: translate(0px, -17px); } 
 
 .main-header .dropdown-menu, .main-header .dropdown{ transition: 1s ease-in-out !important;}
 .main-header .dropdown-menu{box-shadow: 0px 0px 7px 0px #747474; border:none;transform: translate(0px, -185px);left: 0; right: 0; text-align: center;  background: black; color: #000;}







 /* Footer */

.footer { background-color: #08202e; padding-top: 80px; color: #636e74; font-weight: 400; font-size: 17px; }
.footer-line { border-color: #152e3d; }
.footer-widget { padding-bottom: 50px; }
.footer-title { font-size: 24px; font-weight: 600; margin-bottom: 44px; color: #fff; }
.footer-widget ul li a { text-transform: capitalize; font-size: 17px; color: #636e74; display: block; font-weight: 600; }
.footer-widget ul li a:hover { color: #fff; }
.email-form { padding-top: 15px; }
.email-form .form-control { background-color: #1e2e38; border-color: #1e2e38; }





/* End */